/* Reset do navegador */
* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

} 
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* sidebar*/
.sidebar{
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #085a66;
    padding: 6px 14px;
    transition: all 0.5 ease-in-out;
}

.sidebar .logoContent .logo {
    width: 100%;
    height: 50px;
    display: flex;
    color: #fff;
}
.sidebar .logoContent .logo i{
    font-size: 30px;
    margin-right: 5px;
}
.sidebar .logoContent .logo .logoName{
    font-size: 20px;
    font-weight: 400;

}
.sidebar .bx-menu{
    position: absolute;
    top: 0px;
    left: 90%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #fff;

}
.sidebar ul {
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
    list-style: none;
}
.sidebar ul li input{
    position: absolute;
    top: -40px;
    left: 1015px;
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: #2d3f2d;
    padding-left: 50px;
    font-size: 10px;
    color: #fff;
}
.sidebar ul li .bx-search-alt-2{
    position: absolute;
    font-size: 22px;
    color: #fff;
    z-index: 999;
    cursor: pointer;
    left: 1015px;
    top: -40px;
}
.sidebar ul li .bx-search-alt-2:hover{
    background-color: #fff;
    color: #8686d1;
}
.sidebar ul li a {
    display: flex;
    align-items: center;
    color: rgb(252, 252, 252);
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.5s ease;

}
.sidebar ul li a:hover {
    color: #11101d;
    background-color: #fff;
}
.sidebar ul li i {
    min-width: 50px;
    height: 20px;
    border-radius: 12px;
    text-align: center;
}
.sidebar .profileContent{
   
    left: 100%;
    bottom: 100%;
    color: rgb(254, 254, 255);

}
.profile #logout {
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 8px;
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}
.homeContent {
    width: calc(100%);
    transition: all 0.5s ease-in-out;
}
.homeContent h2{
    font-size: 45px;
    font-weight: 400;
    color:#070707;
    background-color: #085a66;
    height: 70px;
    border: 5px;
    

    
}